
body {background-color: aqua;}
p {color:blue; font-family: fantasy; font-size: 150%;}
ol {color:blue; font-family: fantasy; font-size: 150%;}
a {color:blueviolet}
img {width:100x; height: 300px}
th {color:grey; font-family: fantasy;}
td {color: grey; font-family: fantasy;}

nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 0px 0px; /* 3 */
    background: lightskyblue; /* 4 */

}
nav h2 {
    color: black;
    font-family: fantasy;
    margin: 0px 0px;
}
nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
    margin: 0px 0px;
    font-family: fantasy;

}

nav li {
    padding-left: 1rem; /* 7! */
}
